.footer {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 136.42px;
    height: 38.37px;
}

.social {
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (max-width: 900px) {
    .footer {
        margin-top: 40px;
        display: grid;
        justify-content: center;
        margin-bottom: 40px;
    }
    .logo {
        display: block;
        margin: auto;
    }
    .help {
        display: block;
        margin: auto;
    }
}